<html lang="en-US" class="no-js no-svg">
<head>

    <title>IQONIC - Get a beautiful handcrafted website.</title>

    <link rel='stylesheet' id='iqonic-style-css'
          href='iqonic-style.css?ver=1.0' media='all'/>
    <link rel='stylesheet' id='responsive-css'
          href='responsive.css?ver=1.0' media='all'/>


    <script src='jquery.min.js?ver=3.5.1'
            id='jquery-core-js'></script>
    <script src='jquery-migrate.min.js?ver=3.3.2'
            id='jquery-migrate-js'></script>

    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-105392568-1', 'auto');
        ga('send', 'pageview');
    </script>


</head>

<body>

<div class="theBall-outer">
    <div class="theBall"></div>
</div>

<div id="page" class="site">

    <div class="hd-left-info">
        <div class="mouse"></div>
    </div>

    <canvas class="banner_canvas" id="canvas_banner"></canvas>

</div>

<script src='script.js?ver=1.0' id='Scriptjs-js'></script>
<script src='script2.js?ver=1.0' id='Scriptjs2-js'></script>

</body>
</html>
