{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

<!-- Slider Start -->
{% block slider %}
    <section class="iq-main-slider">
        {#      <div id="tvshows-slider">#}
        {#         <div>#}
        {#            <a href="movie-details.html">#}
        {#               <div class="shows-img">#}
        {#                  <img src="{{ url_for('static', filename='images/movie-banner/1.jpg') }}" class="w-100" alt="">#}
        {#                  <div class="shows-content">#}
        {#                     <h4 class="text-white mb-1">Open Dead Shot</h4>#}
        {#                     <div class="movie-time d-flex align-items-center">#}
        {#                        <div class="badge badge-secondary p-1 mr-2">13+</div>#}
        {#                        <span class="text-white">2h 20m</span>#}
        {#                     </div>#}
        {#                  </div>#}
        {#               </div>#}
        {#            </a>#}
        {#         </div>#}
        {#         <div>#}
        {#            <a href="movie-details.html">#}
        {#               <div class="shows-img">#}
        {#                  <img src="images/movie-banner/2.jpg" class="w-100" alt="">#}
        {#                  <div class="shows-content">#}
        {#                     <h4 class="text-white mb-1">Jumbo Queen</h4>#}
        {#                     <div class="movie-time d-flex align-items-center">#}
        {#                        <div class="badge badge-secondary p-1 mr-2">9+</div>#}
        {#                        <span class="text-white">2h 40m</span>#}
        {#                     </div>#}
        {#                  </div>#}
        {#               </div>#}
        {#            </a>#}
        {#         </div>#}
        {#         <div>#}
        {#            <a href="movie-details.html">#}
        {#               <div class="shows-img">#}
        {#                  <img src="images/movie-banner/3.jpg" class="w-100" alt="">#}
        {#                  <div class="shows-content">#}
        {#                     <h4 class="text-white mb-1">The Lost Journey</h4>#}
        {#                     <div class="movie-time d-flex align-items-center">#}
        {#                        <div class="badge badge-secondary p-1 mr-2">20+</div>#}
        {#                        <span class="text-white">2h 15m</span>#}
        {#                     </div>#}
        {#                  </div>#}
        {#               </div>#}
        {#            </a>#}
        {#         </div>#}
        {#      </div>#}
        <div class="dropdown genres-box">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Genres
            </button>
            <div class="dropdown-menu three-column" aria-labelledby="dropdownMenuButton">
                {% for genre in genres %}
                    <a class="dropdown-item" href="{{ url_for('movies_genre', genre=genre.name) }}">{{ genre }}</a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
<!-- Slider End -->
<!-- MainContent -->
{% block content %}
    <div class="main-content">
        <section>
            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-sm-12 overflow-hidden">
                        <div class="iq-main-header d-flex align-items-center justify-content-between">
                            <h4 class="main-title">{{ title }}</h4>
                        </div>
                    </div>
                    {% for movie in movies.items %}
                        <div class="col">
                            <a href="{{ url_for('movies_detail', movie_id=movie.id) }}">
                                <div class="cellphone-container">
                                    <div class="movie-card">
                                        <div class="movie-img" style="background-image: url({{ movie.avatar }});"></div>
                                        <div class="text-movie-cont">
                                            <div class="mr-grid">
                                                <h5>{{ movie.title }}</h5>
                                                <ul class="movie-gen">
                                                    <li>{{ movie.runtime }} /</li>
                                                    <li>{{ movie.get_genres() }}</li>
                                                </ul>
                                            </div>
                                            <div class="mr-grid">
                                                <a href="{{ movie.trailer }}"  class="video-open playbtn">
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                                        <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1 "/>
                                                        <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
                                                    </svg>
                                                    <span class="w-trailor">Watch Trailer</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-5">
                    <div class="col-sm-12">
                        {% from "pagination.html" import render_pagination with context %}
                        {{ render_pagination(movies, request.endpoint, genre=genre) }}
                    </div>
                </div>
            </div>
        </section>

        {#        <section id="iq-favorites">#}
        {#            <div class="container-fluid">#}
        {#                <div class="row">#}
        {#                    <div class="col-sm-12 overflow-hidden">#}
        {#                        <div class="iq-main-header d-flex align-items-center justify-content-between">#}
        {#                            <h4 class="main-title">{{ title }}</h4>#}
        {#                        </div>#}
        {#                        <div class="favorites-contens">#}
        {#                            <ul class="favorites-slider list-inline  row p-0 mb-0">#}
        {#                                {% for movie in movies %}#}
        {#                                    <li class="slide-item">#}
        {#                                        <a href="{{ url_for('movies_detail', movie_id=movie.id) }}">#}
        {#                                            <div class="block-images position-relative">#}
        {#                                                <div class="img-box">#}
        {#                                                    <img src="{{ movie.avatar }}" class="img-fluid" alt="">#}
        {#                                                </div>#}
        {#                                                        <div class="block-description">#}
        {#                                                            <h6>{{ movie.title }}</h6>#}
        {#                                                            <div class="movie-time d-flex align-items-center my-2">#}
        {#                                                                <div class="badge badge-secondary p-1 mr-2">{{ movie.rating }}</div>#}
        {#                                                                <span class="text-white">{{ movie.runtime }}</span>#}
        {#                                                            </div>#}
        {#                                                    <div class="hover-buttons">#}
        {#                                       <span class="btn btn-hover"><i class="fa fa-play mr-1" aria-hidden="true"></i>#}
        {#                                          Play Now#}
        {#                                       </span>#}
        {#                                                    </div>#}
        {#                                                </div>#}
        {#                                                        <div class="block-social-info">#}
        {#                                                            <ul class="list-inline p-0 m-0 music-play-lists">#}
        {#                                                                <li><span><i class="ri-volume-mute-fill"></i></span></li>#}
        {#                                                                <li><span><i class="ri-heart-fill"></i></span></li>#}
        {#                                                                <li><span><i class="ri-add-line"></i></span></li>#}
        {#                                                            </ul>#}
        {#                                                        </div>#}
        {#                                            </div>#}
        {#                                        </a>#}
        {#                                    </li>#}
        {#                                {% endfor %}#}
        {#                            </ul>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </section>#}

    </div>
{% endblock %}