{% macro render_pagination(pagination, endpoint) %}
    {% set qs = kwargs.update(request.args.to_dict()) %}
    {% set qs = kwargs.pop('page', 'some') %}
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-circle justify-content-center pg-primary">
            {% if movies.has_prev %}
                <li class="page-item">
                    <a class="page-link text-primary"
                       href="{{ url_for(endpoint, page=movies.prev_num, **kwargs) }}">❮</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link text-secondary" href="#" tabindex="-1">❮</a>
                </li>
            {% endif %}
            {%- for page in pagination.iter_pages() %}
                {% if page %}
                    {% if page != pagination.page %}
                        <li class="page-item">
                            <a class="page-link text-primary"
                               href="{{ url_for(endpoint, page=page, **kwargs) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page-item active">
                            <a class="page-link" href="#"><span class="sr-only">(current)</span>{{ page }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link text-secondary" href="#" tabindex="-1">…</a>
                    </li>
                {% endif %}
            {%- endfor %}
            {% if movies.has_next %}
                <li class="page-item">
                    <a class="page-link text-primary"
                       href="{{ url_for(endpoint, page=movies.next_num, **kwargs) }}">❯</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link text-secondary" href="#" tabindex="-1">❯</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}
